body {
    background-image:linear-gradient(rgba(80, 79, 79, 0.5), rgba(0, 0, 0, 0.5)), url(../assetes/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.error-text {
    color: rgb(233, 41, 41);
    font-size: 22px;
    font-weight: 600;
}

.details-card, .card-data {
    background: #f1f3f5;
    opacity: 0.8;
}

.title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}
.confirmed-detail { 
    font-size: 20px;
    color: rgb(150, 150, 0);
}
.active-detail, .death-detail {
    font-size: 20px;
    color: rgb(201, 49, 22);
}

.date-detail {
    font-size: 20px;
    color: rgb(7, 71, 7);
}
